@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --gray : #676767;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f2f6;
}


.text{
    color: var(--gray);
    font-size: 14px;
}


header{
    margin: 4em auto;
    max-width: 70%;
    text-align: center;
}

#top{
    font-weight: lighter;
    color: var(--gray);
}

#bold{
    margin-top: 0.4rem;
    font-weight: 700;
}

header .text{
    margin-top: 1rem;
}

/*      Cards       */

.container{
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
    background-color: white;
    height: 14rem;
    width: 20rem;
    margin: auto 0 auto 2rem;
    border-radius: 5px;
    box-shadow: 0 6px 6px #15404d29;
}

.c-one{
    border-top: 5px solid #EA3F56;
}

.c-tow{
    border-top: 5px solid #72C5FA;
}

.c-three{
    border-top: 5px solid #FDC60C;
}

.c-four{
    border-top: 5px solid #0A6D8D;
}

.foo{
    margin-top: 2rem;
}

.card-container{
    width: 90%;
}

.title{
    margin: 2rem 0 0 2rem;
}

.card .text{
    margin: 0.5rem 0 0 2rem;
}

img{
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 3.5rem;
}

#copx{
    color: var(--gray);
    
    bottom: 0;
    margin-left: 1rem;
    font-size: small;
    z-index: 0;
}

@media only screen and (max-width: 1000px){
    .card{
        width: 15rem;
    }
}

@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-bottom: 3rem;
    }

    .card{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        width: 90%;
    }
}